<section
  *ngIf="product; else elseBlock"
  class="d-flex justify-content-md-center my-5"
>
  <div class="mb-3">
    <div class="row g-0 align-items-center">
      <div class="col-md-4">
        <img
          src="{{ product.image }}"
          class="img-fluid rounded-start"
          alt="{{ product.title }}"
        />
      </div>
      <div class="col-md-8 p-5">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>

          <app-rating [product]="product" [showCount]="true"></app-rating>

          <h2>$ {{ product.price }}</h2>

          <button
            (click)="cartService.addToCart(product)"
            class="btn btn-primary"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #elseBlock>
  <div class="d-flex justify-content-md-center mt-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
