<section>
  <h2>Inventory</h2>
</section>

<section
  class="row justify-content-md-center my-5 row-gap-4 column-gap-4"
  *ngIf="products$ | async; else elseBlock"
>
  <div
    class="card mb-3 col-md-6"
    style="max-width: 540px"
    *ngFor="let product of products$ | async"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ product.image }}"
          class="img-fluid rounded-start"
          alt="{{ product.title }}"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">
            {{ product.description }}
          </p>
          <p class="card-text">
            $ {{ product.price }}
            <small class="text-body-secondary ml-2"
              >{{ product.rating.rate }} Rating</small
            >
          </p>
        </div>
      </div>
    </div>

    <div class="my-2 d-flex justify-content-end gap-2">
      <button
        class="btn btn-primary btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        Update
      </button>
      <button
        class="btn btn-outline-danger btn-sm"
        (click)="handleDelete(product.id)"
      >
        Delete
      </button>
    </div>
  </div>
</section>

<ng-template #elseBlock>
  <div class="d-flex justify-content-md-center mt-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="title" class="form-label">Product title</label>
            <input type="text" class="form-control" id="title" />
          </div>

          <div class="mb-3">
            <label for="description" class="form-label"
              >Product description</label
            >
            <textarea
              id="description"
              class="form-control"
              cols="30"
              rows="5"
            ></textarea>
          </div>

          <div class="mb-3">
            <label for="price" class="form-label">Product price</label>
            <input type="number" class="form-control" id="price" />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
